body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f6fa;
  font-size: 16px;
  font-family: Gill Sans Light, sans-serif;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #2b9a8e;
}

.logo {
  float: left;
}


.right {
  padding-top: 8px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

main h1 {
  font-family: Victoriandeco Regular, Gill Sans Light, sans-serif;
  text-align: center;
  color: #6e0f77;
  font-size: 6rem;
}

footer.page-footer {
  background-color: #2b9a8e;
  text-align: center;
}
